@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --clr-main-300: hsl(0, 0%, 100%);
  --clr-main-400: hsl(0, 0%, 87%);
  --clr-accent-400: hsl(160, 29%, 44%);
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid var(--clr-main-300);
}

.navbar h1 {
  color: var(--clr-accent-400);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: var(--clr-accent-400);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* note previews / list */
.note-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid var(--clr-main-400);
}

.note-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.note-preview h2 {
  font-size: 20px;
  color: var(--clr-accent-400);
  margin-bottom: 8px;
}

.note-preview a {
  text-decoration: none;
}

/* note details page */
.note-details h2 {
  font-size: 20px;
  color: var(--clr-accent-400);
  margin-bottom: 10px;
}

.note-details div {
  margin: 20px 0;
}

.note-details button {
  background: var(--clr-accent-400);
  color: var(--clr-main-300);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


/* create new note form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: var(--clr-accent-400);
  margin-bottom: 30px;
}

.create input,
.create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid var(--clr-main-400);
  box-sizing: border-box;
  display: block;
}

.create button {
  background: var(--clr-accent-400);
  color: var(--clr-main-300);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* loading component */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 30px;
  margin: auto;
  height: 30px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  position: absolute;
}